# Maven artifacts.
#
target/
test-output/

# IDEA IntelliJ.
#
.idea/
*.iml

# Eclipse.
#
.classpath
.project
.settings/

# Gradle.
.gradle
build/
out/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
